{% extends 'base/baseListasDatos.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">TIPO DE FINANCIAMIENTO</th>
        <th scope="col">CODIGO</th>
        <th scope="col">DEPARTAMENTO</th>
        <th scope="col">ENTIDAD TERRITORIAL</th>
        <th scope="col">MUNICIPIO</th>
        <th scope="col">ESTADO</th>
        <th scope="col">VER/EDITAR</th>
    </tr>

{% endblock %}
{% block tbody %}
    {% for postulacion in object_list %}
        <tr>
            <td> {% if postulacion.tipo_financiamiento == 1 %} ITCP             
            {% else %} EDTP
            {% endif %}</td>
            <td> {{ postulacion.slug }}</td>
            <td> {{ postulacion.municipio.departamento }}</td>
            <td> {{ postulacion.municipio.entidad_territorial }} </td>
            <td> {{ postulacion.municipio.nombre_municipio }}</td>   
            <td>
            {% if postulacion.estado == None %}
                <p class="text-danger fw-bold">SIN INICIO DE SESION</p>
            {% elif postulacion.estado %}
                CON INICIO DE SESION
            {% elif not postulacion.estado %}
                RECHAZADO
            {% endif %}</td>
            <td>
                <a href=" {% url 'solicitud:Ficha_solicitud' postulacion.slug %} " type="button"
                   class="btn btn-primary btn-xs">
                   {% if postulacion.municipio.estado == 'SOLICITUD' %}
                   <i class="fas fa-edit"></i>
                   {% else %}
                   <i class="fa fa-eye"></i>
                   {% endif %}
                   
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}