{% extends 'base/form1col.html' %}
{% load static %}
{% block formulario %}
<div class="row card card-body">
    {% if derecho|length > 0 %} 
     <table class="table">        
        <thead>
            <tr>
                <th>.</th>
                <th>DESCRIPCION</th>
                <th>ADJUNTAR DERECHO PROPIETARIO</th>
                <th>DE NO CONTAR CON UN DERECHO PROPIETARIO DETERMINAR LAS ACCIONES A REALIZAR</th>
                <th>GEOREFERENCIA (SISTEMA DE REFERENCIA WGS-84 PROYECCION UTM) </th>
            </tr>
        </thead>
            <tbody id="product-rows">
                <tr>
                    <td>
                    <input type="hidden" name="id_0" value="{{ derecho.0.id }}">
                    </td>
                    <td>
                        <textarea name="descripcion_0" rows="4" 
                        class="form-control form-control-sm font-weight-bold border border-info">{{ derecho.0.descripcion }}</textarea>
                    </td>
                <td>
                    <input type="file" name="si_registro_0" value="{{ derecho.0.si_registro }}"
                    class="form-control form-control-sm font-weight-bold border border-info">
                    {% if derecho.0.si_registro %}
                        <a href="{% url 'descargar_derechoProp' derecho.0.slug derecho.0.id %}" class="btn btn-primary">
                            Descargar Archivo
                        </a>
                    {% endif %}
                </td>
                <td>
                    <textarea name="no_registro_0" rows="4" 
                    class="form-control form-control-sm font-weight-bold border border-info">{{ derecho.0.no_registro }} </textarea>
                </td>
                <td>
                    <table class="table">
                        <tr>
                            <td>ZONA</td>
                            <td>ESTE (m E)</td>
                            <td>NORTE (m N)</td>
                        </tr>
                        <tr>
                            <td><input type="number" value="{{ derecho.0.zone }}" name="zone_0" step="1"
                            class="form-control form-control-sm font-weight-bold border border-info"></td>
                            <td><input type="number" value="{{ derecho.0.easting }}" name="easting_0" step="0.001"
                            class="form-control form-control-sm font-weight-bold border border-info"></td>
                            <td><input type="number" value="{{ derecho.0.northing }}" name="northing_0" step="0.001"
                            class="form-control form-control-sm font-weight-bold border border-info"></td>
                        </tr>
                    </table>
                </td>
                </tr>
            </tbody>
    </table>
    {% endif %}
    {% if derecho|length > 1 %}
        <table class="table">
            <thead>
                <tr>
                    <th>.</th>
                    <th>Descripción</th>
                    <th>GEOREFERENCIA (SISTEMA DE REFERENCIA WGS-84 PROYECCION UTM) </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="hidden" name="id_1" value="{{ derecho.1.id }}">
                    </td>
                    <td>
                        <textarea name="descripcion_1" rows="4" 
                        class="form-control form-control-sm font-weight-bold border border-info">{{ derecho.1.descripcion }}</textarea>
                    </td>                    
                    <td>
                        <table class="table">
                            <tr>
                                <td>ZONA</td>
                                <td>ESTE (m E)</td>
                                <td>NORTE (m N)</td>
                            </tr>
                            <tr>
                                <td><input type="number" value="{{ derecho.1.zone }}" name="zone_1" step="1"
                                class="form-control form-control-sm font-weight-bold border border-info"></td>
                                <td><input type="number" value="{{ derecho.1.easting }}" name="easting_1" step="0.001"
                                class="form-control form-control-sm font-weight-bold border border-info"></td>
                                <td><input type="number" value="{{ derecho.1.northing }}" name="northing_1" step="0.001"
                                class="form-control form-control-sm font-weight-bold border border-info"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div>
<div class="row card card-body">
        <div class="mb-3 row">
                <div class="col-sm-4 col-form-label text-end fw-bold">{{ form.alturaForestacion.label_tag }}</div>
                <div class="col-sm-4 col-form-label text-end fw-bold">{{ form.alturaForestacion }}</div>
        </div>        
    </div>
{% endblock %}

{% block funcScript %}
<script>
    // Asegúrate de que el valor del campo 'northing' o 'easting' tenga un punto como separador decimal
    document.addEventListener('DOMContentLoaded', function() {
        let inputs = document.querySelectorAll('input[type="number"]');
        inputs.forEach(input => {
            input.value = input.value.replace(',', '.');
        });
    });
</script>
{% endblock %}