{% extends 'base/baseListasDatos.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE PROYECTO</th>
        <th scope="col">FECHA DE ENVIO</th>
        <th scope="col">REVISOR</th>
        <th scope="col">ESTADO</th>
        <th scope="col">VER</th>
    </tr>

{% endblock %}
{% block tbody %}
    {% for proyecto in object_list %}
        <tr>
            <td> {{ proyecto.slug }}</td>
            <td> {{ proyecto.datos_basicos.nombre }}</td>
            <td>{{ proyecto.fechaenvio }}</td>
            <td>            
                 {{ proyecto.revisor.revisor_perfil.persona.nombrecompleto }}
            </td>
            <td>
            {% if proyecto.estado == 'SIN REVISAR' %}<p class="bg-danger fw-bold">
            {% elif proyecto.estado == 'CON OBSERVACION' %}<p class="bg-warning fw-bold">
            {% elif proyecto.estado == 'CORREGIDO' %}<p class="bg-warning fw-bold">
            {% endif %} {{ proyecto.estado }} </p>
            </td>
            <td>
                <a href=" {% url 'proyecto:ver_Datos' proyecto.slug %} " type="button"
                   class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}