{% load static %}
<div style="background-color: #D0D850">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">REGISTRO DE SOLICITUD</a>
  </li>
</ul>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">REGISTRO DE CONVOCATORIAS</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">REGISTRO DE SOLICITUD</a>
    <hr>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">INICIO DE SESION</a>
  </li>
</ul>
  </div>
</div>
</div>