{% load static %}
<div style="background-color: #4da358; padding: 10px;">
    <!-- Navbar Section -->
    <ul class="nav nav-tabs d-flex justify-content-between w-100 mb-3">
        <li class="nav-item d-flex align-items-center justify-content-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
        </li>
        <li class="height-100 d-flex align-items-center justify-content-center p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" class="nav-link font-weight-bold text-white">
                        <i class="fas fa-user-alt"></i> Bienvenido {{ request.user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:Logout' %}" class="nav-link font-weight-bold text-white">
                        <i class="fas fa-sign-in-alt"></i> Cerrar sesión
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:Index' %}">
                        <i class="fas fa-clipboard-list"></i> INICIO
                    </a>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:datos_postulacion' proyecto.slug %}">
                        <i class="fas fa-clipboard-list"></i> 00. DATOS DE POSTULACION
                    </a>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_Base' proyecto.slug %}">
                        <i class="fas fa-cogs"></i>     01.DATOS PRINCIPALES DEL PROYECTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_justificacion' proyecto.slug %}">
                        <i class="fas fa-flag"></i>     02. ITCP-JUSTIFICACION DE LA INICIATIVA DEL PROYECTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_Idea_proyecto' proyecto.slug %}">
                        <i class="fas fa-lightbulb"></i>    03. ITCP-IDEA DEL PROYECTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_obj_especifico' proyecto.slug %}">
                        <i class="fas fa-bullseye"></i>     03.01. ITCP-OBJETIVOS SECUNDARIOS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_Beneficios' proyecto.slug %}">
                        <i class="fas fa-gift"></i>         03.02. ITCP-BENEFICIOS ESPERADOS DEL PROYECTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_Beneficiarios' proyecto.slug %}">
                        <i class="fas fa-users"></i> 03.03. ITCP-BENEFICIARIOS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_ModeloActa' proyecto.slug %}">
                        <i class="fas fa-file-alt"></i> 04. ITCP-MODELO DE ACTA DE CONOCIMIENTO Y ACEPTACIÓN DEL PROYECTO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_DerechoPropietario' proyecto.slug %}">
                        <i class="fas fa-gavel"></i> 05. ITCP-ESTADO DE SITUACION LEGAL DEL DERECHO PROPIETARIO DE LOS PREDIOS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_ImpactoAmbiental' proyecto.slug %}">
                        <i class="fas fa-leaf"></i> 06. ITCP-IDENTIFICACION DE POSIBLES IMPACTOS AMBIENTALES
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_RiesgoDesastre' proyecto.slug %}">
                        <i class="fas fa-exclamation-triangle"></i> 07. ITCP-IDENTIFICACION DE RIESGOS DE DESASTRES
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_DetallePOA' proyecto.slug %}">
                        <i class="fas fa-book"></i> 08. ITCP-INSCRIPCIÓN EN EL POA Y OTROS ASPECTOS NECESARIOS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_PresupuestoRef' proyecto.slug %}">
                        <i class="fas fa-dollar-sign"></i> 09. ITCP-PRESUPUESTO REFERENCIAL
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_ConclRec' proyecto.slug %}">
                        <i class="fas fa-comments"></i> 10.ITCP-CONCLUSIONES Y RECOMENDACIONES
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:registro_DeclaracionJurada' proyecto.slug %}">
                        <i class="fas fa-clipboard-check"></i> 11.ITCP-DECLARACION JURADA
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
