{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
<div class="row">
  <h4 class="text-center text-bg-info">DATOS PROPORCIONADOS</h4>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="fw-bold bg-info-subtle">VER DOCUMENTO CARNET</td>
        <td>
          <a href="{{ postulacion.mae.asignacion.url }}" target="_blank">
            <button type="button" class="btn btn-secondary">Abrir PDF</button>
          </a>
        </td>
        <td class="fw-bold bg-info-subtle">VER DOCUMENTO DESIGNACION</td>
        <td>
          <a href="{{ postulacion.mae.carnet.url }}" target="_blank">
            <button type="button" class="btn btn-secondary">Abrir PDF</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="fw-bold bg-info-subtle">TIPO DE FINANCIAMIENTO</td>
        <td>{{ n_financiamiento }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr class="table-info">
        <th scope="col">CODIGO DE LA SOLICITUD</th>
        <th scope="col">DEPARTAMENTO</th>
        <th scope="col">ENTIDAD TERRITORIAL AUTONOMA</th>
        <th scope="col">NOMBRE DE LA ENTIDAD EJECUTORIA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{postulacion.slug}}</td>
        <td>{{postulacion.municipio.departamento}}</td>
        <td>{{postulacion.municipio.entidad_territorial}}</td>
        <td>{{postulacion.municipio.nombre_municipio}}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr class="table-info">
        <th scope="col">NOMBRE DE LA MAE</th>
        <th scope="col">CARGO DE LA MAE</th>
        <th scope="col">CELULAR DE LA MAE</th>
        <th scope="col">CORREO DOMICILIO LEGAL PARA NOTIFICACION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{postulacion.mae.persona.nombrecompleto}}</td>
        <td>{{postulacion.mae.persona.cargo}}</td>
        <td>{{postulacion.mae.persona.celular}}</td>
        <td>{{postulacion.mae.correo}}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr class="table-info">
        <th scope="col">NOMBRE DEL RESPONSABLE DEL PROYECTO</th>
        <th scope="col">CARGO DEL RESPONSABLE DEL PROYECTO</th>
        <th scope="col">CELULAR DEL RESPONSABLE DEL PROYECTO</th>
        <th scope="col">CORREO ELECTRONICO DEL RESPONSABLE DEL PROYECTO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{postulacion.responsable.persona.nombrecompleto}}</td>
        <td>{{postulacion.responsable.persona.cargo}}</td>
        <td>{{postulacion.responsable.persona.celular}}</td>
        <td>{{postulacion.responsable.correo}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row d-flex">
    <div class="mb-3 row">
      <div class="col-md-4 col-sm-12 fw-bold col-form-label">
        FECHA Y HORA DEL ENVIO
      </div>
      <div
        class="col-md-8 col-sm-12 bg-white d-flex align-items-center border border-success-subtle"
      >
        {{postulacion.fecha_registro}}
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
