{% extends 'base/base.html' %}

{% block contenido %}
    <h3 class="text-center bg-success rounded-3 text-white"> {{ titulo }} </h3>
    <div class="card text-bg-danger mb-3">
        <div class="card-header">
            Advertencia
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Para completar el envio de los datos tiene que hacer click en el boton ENVIAR</li>
            <li class="list-group-item">Una vez enviado todos los datos ya no se podra modificar ningun dato</li>
            <li class="list-group-item">Asegurese de haber cargado bien los documentos</li>
            <li class="list-group-item">Si se equivoco en algun documento puede reemplazarlo</li>
            <li class="list-group-item">Verifique que el ITCP FOLIADO Y RUBRICADO este cargado correctamente</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">          
            {% if form %}
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row text-center row mt-2">
                        <div class="col">
                            <button class="btn btn-success" type="submit">
                            <i class="fas fa-save"></i> ENVIAR DATOS</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'convocatoria:Index' %}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>NO ENVIAR POR AHORA</a>
                        </div>
                    </div>
                </form>
            {% else %}
                <form method="post" action="{% url 'proyecto:enviar_datos2' slug=proyecto.slug %}">
                    {% csrf_token %}
                    <div class="row text-center row mt-2">
                        <div class="col">
                            <button class="btn btn-success" type="submit">
                            <i class="fas fa-save"></i> ENVIAR DATOS</button>
                        </div>
                        <div class="col">
                            <a href="{% url 'convocatoria:Index' %}" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i>NO ENVIAR POR AHORA</a>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <!-- Modal de éxito -->
    {% if messages %}
        <div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="successModalLabel">
                            {% if message_title %}
                                {{ message_title }}
                            {% else %}
                                Mensaje
                            {% endif %}
                        </h5>
                    </div>
                    <div class="modal-body">
                        {% if message_content %}
                            <p>{{ message_content }}</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a href="{{ accion2_url }}" class="btn btn-secondary" type="button">{{ accion2 }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block funcScript %}
<script>
    // Mostrar el modal si hay mensajes
    {% if messages %}
        $(document).ready(function(){
            $('#successModal').modal('show');
        });
    {% endif %}
</script>
{% endblock %}
