{% extends 'base/baseListasDatos.html' %}
{% load static %}
{% block thead %}
    <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">NOMBRE PROYECTO</th>
        <th scope="col">VER</th>
    </tr>

{% endblock %}
{% block tbody %}
    {% for proyecto in object_list %}
        <tr>
            <td> {{ proyecto.slug }}</td>
            <td> {{ proyecto.datos_basicos.nombre }}</td>
            <td>
                <a href=" {% url 'proyecto:ver_Datos' proyecto.slug %} " type="button"
                   class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}