{% extends 'base/form1col.html' %}
{% load static %}
{% block formulario %}
<div class="row card card-body">
    <table class="table">
        <thead>
            <tr>
                <th>COMPONENTE AMBIENTAL</th>
                <th>NIVEL</th>
                <th>TEMPORALIDAD</th>
            </tr>
        </thead>
        <tbody id="product-rows">
            <tr>
                <td><p>BOSQUE</p></td>
                <td><p> {{form.bosque_nivel}} </p></td>
                <td><p> {{form.bosque_tempo}} </p></td>
            </tr>
            <tr>
                <td><p>SUELO</p></td>
                <td><p> {{form.suelo_nivel}} </p></td>
                <td><p> {{form.suelo_tempo}} </p></td>
            </tr>
            <tr>
                <td><p>AGUA</p></td>
                <td><p> {{form.agua_nivel}} </p></td>
                <td><p> {{form.agua_tempo}} </p></td>
            </tr>
            <tr>
                <td><p>AIRE</p></td>
                <td><p> {{form.aire_nivel}} </p></td>
                <td><p> {{form.aire_tempo}} </p></td>
            </tr>
            <tr>
                <td><p>BIODIVERSIDAD</p></td>
                <td><p> {{form.biodiversidad_nivel}} </p></td>
                <td><p> {{form.biodiversidad_tempo}} </p></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}