{% extends 'base/form1col.html' %}
{% load static %}
{% block formulario %}
    <div class="row card card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>TIPO Y NOMBRE DEL BENEFICIARIO</th>
                    <th>SUBIR ACTA</th>
                    <th>EN EL CASO DE NO TENER, JUSTIFICAR</th>
                </tr>
            </thead>
            <tbody id="product-rows">
                <tr>
                    <td><input type="text" name="comunidades_0" class="form-control form-control-sm font-weight-bold border border-info"></td>
                    <td><input type="file" name="si_acta_0" class="form-control form-control-sm font-weight-bold border border-info"></td>
                    <td><textarea name="no_acta_0" cols="30" rows="4" class="form-control form-control-sm font-weight-bold border border-info"></textarea></td>
                    <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" id="add-row">Añadir Fila</button>
    </div>
{% endblock %}

{% block funcScript %}
<script>
    let rowIndex = 1; // Para seguir el índice de las filas

    document.getElementById('add-row').addEventListener('click', function() {
        const newRow = document.createElement('tr');
        newRow.innerHTML = `
            <td><input type="text" name="comunidades_${rowIndex}" class="form-control form-control-sm font-weight-bold border border-info"></td>
            <td><input type="file" name="si_acta_${rowIndex}" class="form-control form-control-sm font-weight-bold border border-info"></td>
            <td><textarea name="no_acta_${rowIndex}" cols="30" rows="4" class="form-control form-control-sm font-weight-bold border border-info"></textarea></td>
            <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Eliminar</button></td>
        `;
        document.getElementById('product-rows').appendChild(newRow);
        rowIndex++; // Incrementar el índice
    });

    function removeRow(button) {
        const row = button.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
</script>
{% endblock %}