{% load static %}
<div style="background-color: #4da358">
    <ul class="nav nav-tabs d-flex justify-content-between w-100">
        <li class="nav-item d-flex align-items-center">
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa fa-align-justify" aria-hidden="true"></i>
            </button>
        </li>
        <li class="nav-item ms-auto d-flex align-items-center justify-content-center p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" class="nav-link font-weight-bold"><i class="fas fa-user-alt"></i> Bienvenido {{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:Logout' %}" class="nav-link font-weight-bold"><i class="fas fa-sign-in-alt"></i> Cerrar sesión</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {% if superuser %}
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:Index' %}"><i class="fas fa-home"></i> INICIO</a>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:lista_convocatoria' %}"><i class="fas fa-list-alt"></i> LISTA DE CONVOCATORIAS</a>
                    <hr>
                </li><li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:lista_municipios' %}"><i class="fas fa-list-alt"></i> LISTA DE MUNICIPIOS</a>
                    <hr>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:lista_revisor' %}"><i class="fas fa-users-cog"></i> LISTA DE REVISORES</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="offcanvas-body">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:Index' %}"><i class="fas fa-home"></i>INICIO</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'convocatoria:detalle_convocatoria' convocatoria.slug %}"><i class="fas fa-home"></i> DETALLE DE LA CONVOCATORIA</a>
                </li>
                <hr>
                <li class="nav-item bg-info">
                    <p class="text-center fw-bold">SOLICITUDES</p>
                </li>  
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'solicitud:ListaCompleta' convocatoria.slug %}"><i class="fas fa-file-alt"></i> LISTA COMPLETA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'solicitud:ListaSolicitud' convocatoria.slug %}"><i class="fas fa-file-alt"></i> ITCP
                    <span class="badge text-bg-warning">{{sin_revisar_sol_1}}</span> </a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'solicitud:ListaSolicitudEj' convocatoria.slug %}"><i class="fas fa-file-alt"></i> EDTP
                    <span class="badge text-bg-warning">{{sin_revisar_sol_2}}</span> </a>
                </li>
                <li class="nav-item bg-info">
                    <p class="text-center fw-bold">ENVIO DE ITCP (CON INICIO DE SESION)</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_p' convocatoria.slug %}"><i class="fas fa-file-alt"></i> ESTADO INICIO DE SESION</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_env' convocatoria.slug %}"><i class="fas fa-file-alt"></i> LISTA COMPLETA</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_Sr' convocatoria.slug %}"><i class="fa-solid fa-question"></i> SIN REVISAR
                    <span class="badge text-bg-warning">{{ itcp_sr }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_Obs' convocatoria.slug %}"><i class="fa-solid fa-comment"></i> OBSERVADOS/CORREGIDOS
                    <span class="badge text-bg-warning">{{ itcp_oc }}</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_Comp' convocatoria.slug %}"><i class="fa-solid fa-check-double"></i> COMPLETOS</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_p' convocatoria.slug %}"><i class="fa-solid fa-pen-clip"></i> PASAN A REVISION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_p' convocatoria.slug %}"><i class="fas fa-times-circle"></i> NO PASAN A REVISION</a>
                </li>
                <li class="nav-item bg-info">
                    <p class="text-center fw-bold">ENVIO DE EDTP (CON INICIO DE SESION)</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_EDTP_p' convocatoria.slug %}"><i class="fas fa-file-alt"></i> ESTADO INICIO DE SESION</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_EDTP_env' convocatoria.slug %}"><i class="fas fa-file-alt"></i> LISTA COMPLETA</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_EDTP_Sr' convocatoria.slug %}"><i class="fa-solid fa-question"></i> SIN REVISAR
                    <span class="badge text-bg-warning">{{ edtp_sr }}</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_EDTP_Obs' convocatoria.slug %}"><i class="fa-solid fa-comment"></i> OBSERVADOS/CORREGIDOS
                    <span class="badge text-bg-warning">{{ edtp_oc }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_EDTP_Comp' convocatoria.slug %}"><i class="fa-solid fa-check-double"></i> COMPLETOS</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_p' convocatoria.slug %}"><i class="fa-solid fa-pen-clip"></i> PASAN A REVISION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'proyecto:l_ITCP_p' convocatoria.slug %}"><i class="fas fa-times-circle"></i> NO PASAN A REVISION</a>
                </li>
            </ul>
        </div>
        {% endif %}
        
    </div>
</div>
