{% load static%}
{% block contenido %}
    <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Bienvenido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Estas son unas recomendaciones que se deben de tomar en cuenta para el llenado del formulario:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Los archivos solicitados para subir <i class="text-danger">no deben de exeder los 2MB de peso</i></li>
                        <li class="list-group-item">Para registrar la solicitud se debe de completar <i class="text-info">todos los pasos </i> hasta que le <i class="text-black">APAREZCA LA CONFIRMACION DEL REGISTRO</i></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class"row ">
        <div class="mb-3 row">
            <div class="col-md-8 col-sm-8 fw-bold col-form-label text-end">INGRESA EL CODIGO PARA MODIFICAR TU SOLICITUD</div>
            <div class="col-md-4 col-sm-4 align-items-center ">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                    <input type="text" id="campo" class='form-control form-control-sm font-weight-bold border border-info' placeholder="Escribe aquí el codigo">
                    </div>
                    <div class="col-md-6 col-sm-6">
                    <button onclick="redirigirConDato()" class="btn btn-primary ">Enviar</button>
                    </div>
                </div>
                
            </div>                            
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-2">
            <div class="linea-pasos">
                <ul>
                    <li class="paso activo">Paso 1</li>
                    <li class="paso">Paso 2</li>
                    <li class="paso">Paso 3</li>
                    <li class="paso">Paso 4</li>
                    <li class="paso">Paso 5</li>
                    <li class="paso">FIN</li>
                </ul>
            </div>
        </div>
        <div class="col-8 col-sm-10">
            <h4 class="text-center text-bg-success ">SELECCIONE SU DEPARTAMENTO</h4>
            <div class="row align-items-start justify-content-center p-5">
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '1' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">LA PAZ</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/laPaz.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '2' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">BENI</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/beni.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '5' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">ORURO</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/oruro.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div> 
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '6' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">PANDO</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/pando.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>                 
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '9' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">TARIJA</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/tarija.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>                  
                <div class="col-sm-6 col-md-2 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '7' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">POTOSI</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/potosi.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>                  
                <div class="col-sm-6 col-md-3 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '3' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">CHUQUISACA</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/chuquisaca.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>                                  
                <div class="col-sm-6 col-md-3 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '4' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">COCHABAMBA</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/cochabamba.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>                                  
                <div class="col-sm-6 col-md-3 pt-3">
                    <a href="{% url 'solicitud:Entidad_Territorial' '8' %}" style="text-decoration: none; color: inherit;">
                    <h3 class="text-center border border-primary-subtle">SANTA CRUZ</h3> 
                    <div class="card text-center">                                               
                            <img src="{% static 'img/departamento/santaCruz.jpg' %}" class="card-img-top" alt="...">                        
                    </div>
                    </a>
                </div>
            </div>
        </div>
    
    </div>
    
{% endblock contenido %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('miModal'));
        myModal.show();
    });
</script>
<script>
        function redirigirConDato() {
            const campoDatos = document.getElementById('campo').value;  // Obtiene el valor del campo
            const urlBase = "{% url 'solicitud:Actualizar_Ficha' 0 %}";  // Usa un valor placeholder

            // Construye la URL con el valor del campo
            const urlCompleta = urlBase.replace('0', encodeURIComponent(campoDatos));
            window.location.href = urlCompleta;  // Redirige a la nueva URL
        }
</script>
{% endblock js %}