{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
    {% if not user.is_authenticated%}
        <h1 class="text-center text-bg-primary">SELECCIONE ENTIDAD TERRITORIAL AUTONOMA</h1>
    <div class="row p-5">
        <div class="col-6 ">
            <h4 class="p-5">GOBIERNO AUTÓNOMO DEPARTAMENTAL</h4>
        </div>
        <div class="col-6">
            <h4 class="p-5">GOBIERNO AUTÓNOMO MUNICIPAL</h4>
        </div>
        <div class="col-6">
            <h4 class="p-5">GOBIERNO AUTÓNOMO REGIONAL</h4>
        </div>
        <div class="col-6">
            <h4 class="p-5">GOBIERNO AUTÓNOMO INDIGENA ORIGINARIO CAMPESINO</h4>
        </div>
    </div>
    {% endif %}
{% endblock %}
