{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
    {% if not user.is_authenticated%}
        <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="miModalLabel">ATENCION</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        En el caso de que no encuentre el nombre de su municipio:
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Verificar que se haya seleccionado correctamente <i class="text-danger">Departamento y la entidad territorial</i></li>
                            <li class="list-group-item">Si el municipio ya cuenta con un proyecto<i class="text-info">No aparecera en la lista </i></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-2">
                <div class="linea-pasos">
                    <ul>
                        <li class="paso">Paso 1</li>
                        <li class="paso">Paso 2</li>
                        <li class="paso activo">Paso 3</li>
                        <li class="paso">Paso 4</li>
                        <li class="paso">FIN</li>
                    </ul>
                </div>
            </div>
            <div class="col-8 col-sm-10">
                <div class="row">
                    <h3 class="text-center text-bg-primary">SELECCIONE EL MUNICIPIO</h3>
                    {% if object_list != 0 %}
                        {% for municipios in object_list %}
                            <a href="{% url 'solicitud:Responsable_MAE' municipios.pk %}" style="text-decoration: none; color: inherit;">
                                <div class="col-sm-3 col-md-3 p-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title text-center">{{municipios.nombre_municipio}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>                                
                        {% endfor %}
                    {% else %}
                        NO SE ENCONTRARON MUNICIPIOS
                    {% endif %}
                    
                </div>                
            </div>
        </div>
    {% endif %}

{% endblock contenido %}
{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('miModal'));
        myModal.show();
    });
</script>
{% endblock js %}