<div class="row d-flex">
    <h4 class="text-center text-bg-info ">PERFIL</h4>
    <div class="mb-3 row">
        <div class="col-md-3 col-sm-6 fw-bold col-form-label">username</div>
        <div class="col-md-3 col-sm-6 bg-white d-flex align-items-center border border-success-subtle">{{postulacion.user.username}}</div>
        <div class="col-md-3 col-sm-6 fw-bold col-form-label">Nombre completo</div>
        <div class="col-md-3 col-sm-6 bg-white d-flex align-items-center border border-success-subtle">{{postulacion.persona.nombrecompleto}}</div>
    </div>
</div>
revisor